<h2>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quas voluptatibus perferendis tempore culpa, aspernatur nesciunt aut accusamus similique maiores harum accusantium totam cum quaerat eligendi cumque adipisci repudiandae voluptatum!
</h2>

<h1>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum laudantium eligendi quaerat, odit consequuntur illo quasi hic a provident dignissimos ipsa expedita recusandae nihil iusto repellat, asperiores tempore saepe quo?
</h1>