<form [formGroup] = "loginForm" (ngSubmit) = "onSubmit()">
    <br><br>
    <div class="form-group">
        <label for="loginid">Login ID</label>
        <br>
        <input type="text" class="form-control" id="loginid" formControlName="loginid" style="width: 300px;">
    </div>
    <br>
    <div class="form-group">
        <label for="password">Password</label>
        <br>
        <input type="password" class="form-control" id="password" formControlName="password" style="width: 300px;">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
</form>